*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
section{
    width: 100%;
    height: 100%;
}
section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100;
}
section nav.logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}
section nav ul{
    list-style: none;
    
}
section nav ul li{
    display: inline-block;
    margin: 0 15px;
}
section nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 15px;
    transition: 0.1s linear;
}
section nav ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: yellow;
    display: block;
    transition: 0.2s linear;
}
section nav ul li a:hover::after{
    width: 100%;
}
section nav ul li a:hover{
    color: yellow;
   transform: translateX(7px);
}
section nav .icon i{
    font-size: 17px;
    color: black;
    margin: 0 10px;
    cursor:pointer;
    transition: 0.3s linear;
}

section .main .men_text span{
    color: yellow;
    font-family:mv boli;
}
section .main .main_image img{
    width:700px;
    position: relative;
    left:70px;
    
}
section p{
    width:600px;
    text-align: justify;
    position: relative;
    margin-left:130px;
    margin-right: 1241px;
    margin-top:-100px;
    margin-bottom : 50px;
    line-height: 20px;
}
section p span{
    color:yellow;

}

section .main_btn {
    background-color: yellow;
    position: relative; 
    cursor: pointer;
    padding :10px 25px;
    display: inline-block;
    margin-left:130px;
    color:black;
   
  }

section .main_btn a{
    color: black;
    text-decoration: none;
}
section .main_btn i{
    color:black;
    transition: 0.3s linear;
}
section .main_btn :hover{
    transform: translateX(7px);
    }

section nav .icon{
    font-size:18px;
    color: black;
    margin:0 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
section nav .icon i:hover{
    color:yellow;
}

/*gallery*/

.gallery{
    width:100%;
 }
 .gallery h1{
    font-family: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:150px;
    margin-top:-300px;
}
.gallery h1 span{
    margin-left:15px ;
    color: yellow;
    font-family: mv boli;
}
.gallery h1 span::after{
    content: '';
    background: yellow;
    width:100%;
    height:4px;
    bottom:10px;
    display: block;
    position:relative;
}
.gallery{
    background-color:;
}
.gallery .gallery_image_box{
    width:100%;
    display: inline-block;
    width:500px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.gallery .gallery_image_box .gallery_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
}
.gallery .gallery_image_box .gallery_image img{
    width:100%;
    transition:0.3s;
}
.gallery .gallery_image_box .gallery_image:hover img{
    opacity:0.4;
}
.gallery .gallery_image_box .gallery_image {
    position: relative;
    overflow: hidden; 
    background: black;
}
.gallery .gallery_image_box .gallery_image h3 {
    position: absolute;
    margin-bottom:100px ;
    text-align: center;
    color: yellow;
    font-size: 30px;
    font-family: mv boli;
    z-index: 5;
    opacity: 0; 
    transition: 0.3s;
    margin-right: 15px;
}
.gallery .gallery_image_box .gallery_image:hover h3 {
    opacity: 1; 
    color: yellow; 
}
.gallery .gallery_image_box .gallery_image p{
    position:absolute;
    width:400px;
    margin-top: 30px;
    margin-right: 30px;
    text-align:center;
    color: white;
    line-height: 22px;
    z-index: 5;
    opacity:0;
    transition:0.3s;
}
.gallery .gallery_image_box .gallery_image:hover p{
    opacity: 1; 
    color: white; 
}
.gallery .gallery_image_box .gallery_image .gallery_btn{
    position:absolute;
    margin-top: 180px;
    color: black;
    background: yellow;
    padding:7px 25px;
    text-decoration: none;
    opacity:1;
    transform: translateZ(45px);
    z-index: 5;
    opacity:0;
    transition:0.3s;
}
.gallery .gallery_image_box .gallery_image:hover .gallery_btn{
    opacity: 1; 
}

::-webkit-scrollbar{
    width:13px;
  }
  ::-webkit-scrollbar-track{
    border-radius:15px;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius:15px;
  }


